  name: Deploy to Github Pages
  on:
    push:
      branches:
        - main
        - staging
  jobs:
    gh-pages-deploy:
      name: Deploying to Github Pages
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v3
          - uses: actions/setup-node@v3
            with:
              node-version: '16'
          - name: Install packages
            run: npm i
          - name: Set Creds
            run: git config user.name "Nick Stielau" && git config user.email "nick.stielau@gmail.com"
          - name: Deploy
            run: npm run deploy
